<div class="no-questions">
  <img src="/images/Nenhuma-pergunta.svg" alt="Sem Perguntas" />
  <p>Nenhuma pergunta por aqui</p>
  <p>
    Faça sua primeita pergunta e envie o <br />código dessa sala para outras
    pessoas!
  </p>
</div>
